@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add font support for different languages */
html[lang="ar"] {
  font-family: 'Amiri', serif;
}

html[lang="en"], html[lang="ru"], html[lang="tr"] {
  font-family: 'Roboto', sans-serif;
}

html[lang="tt"] {
  font-family: 'Roboto', 'Amiri', sans-serif;
}